<?xml version="1.0"?>
<model>
  <name>vesuvio_scene</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>pyicub</name>
    <email>noreply@example.com</email>
  </author>
  <description>Background panel and textured cube for iCub Gazebo scene.</description>
</model>
